.menu {
    width: 40rem;
    height: auto;
    padding: 4rem 0;
    background-color: var(--menu-color);
    border-radius: 4px;
    z-index: 999;
    overflow: hidden;
    .menu-item {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--text-color);
        padding: 1rem;
        border-radius: 4px;
        transition: all linear .2s;
        &:hover{
            cursor: pointer;
            color: var(--color-hover);
        }
    }
}

.menu.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .4rem 0 .4rem 0;
    margin-top: .6rem;
    width: 40rem;
    height: auto;
    &::after{
        content: '';
        position: absolute;
        top: -0.4rem;
        left: 2rem;
        border-right:1.05rem solid transparent;
        border-left:1.05rem solid transparent;
        border-bottom:1.05rem solid var(--menu-color);
    }
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        height: calc(100% - 10px);
        transform: translateX(-50%);
        border-right: 1px solid rgb(112, 112, 112);
    }
}

.menu.menuLanguage{
    width: 16rem;
    height: auto;
    padding: .4rem 0 .4rem 0;
    .menu-item{
        text-align: center;
    }
    &::after{
        content: '';
        position: absolute;
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        border-right:1.05rem solid transparent;
        border-left:1.05rem solid transparent;
        border-bottom:1.05rem solid var(--menu-color);
    }
    
}

.menu.contentCountry{
    width: 20rem;
    height: auto;
    padding: 0;
    margin-top: .6rem;
    &::after{
        content: '';
        position: absolute;
        top: -0.4rem;
        left: 2rem;
        border-right:1.05rem solid transparent;
        border-left:1.05rem solid transparent;
        border-bottom:1.05rem solid var(--menu-color);
    }
}