
.hero-sidebar{
    width: 100%;
    height: calc(100vh - 6.5rem);
    overflow: hidden;
    .wrap-icon-left,
    .wrap-icon-right{
        position: absolute;
        top: 50%;
        width: 5rem;
        height: 5rem;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all linear .25s;
        z-index: 10;
        &:hover{
            background-color: #717171a7;
            cursor: pointer;
        }
    }
    
    .wrap-icon-left{
        left: .8rem;
    }
    
    .wrap-icon-right{
        right: 1rem;
    }
    .movie-icon-left,
    .movie-icon-right{
        font-size: 2.5rem;
        color: #d7d7d7;
    }

    .wrap-content-movie{
        display: flex;
        width: 100%;
        height: 100%;
        .content-movie{
            position: relative;
            flex: 0 0 100%;
            height: 100%;
            z-index: 1;
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: radial-gradient(circle, #ffffff00, #000 100%);
            }
            .content-info-movie-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1000;
                user-select: none;
                background-image: radial-gradient(circle, #000, #fff);
                transition: all linear .8s;
                animation: imgdisplay linear 1.5s;
            }
            .content-info-movie-img.background-blur{
                filter: blur(10px);
            }
    
            .content-info-movie{
                position: absolute;
                top: 50%;
                min-width: 50rem;
                max-width: 60rem;
                height: auto;
                transform: translateY(-50%);
                padding-left: 6rem;
                z-index: 100;
                .title-movie{
                    font-family: 'abaha';
                    font-size: 6rem;
                    color: var(--text-color);
                    text-shadow: 0 0 2px #000;
                    user-select: none;
                    transition: all linear 1s;
                    animation: appearSmooth linear .8s;
                }
                .title-movie.title-blur{
                    opacity: 0;
                    // transform: translateX(-50rem);
                }
                .movie-info-date{
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 1.8rem;
                    font-size: 1.4rem;
                    color: var(--text-color);
                    transition: all linear 1s;
                    .movie-info-data-evaluate{
                        display: flex;
                        gap: 2px;
                        margin: 1rem 0;
                        .icon-star{
                            color: rgb(61, 255, 61);
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 3.2rem;
                            height: 50%;
                            border-left: 1px solid #b4b4b4;
                        }
                    }
                }
                .movie-info-date.evaluate-blur{
                    opacity: 0;
                }
                .movie-overview{
                    font-size: 1.5rem;
                    color: var(--text-color);
                    word-spacing: .2rem;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-bottom: 2rem;
                    transition: all linear 1s;
                    .movie-overview-title{
                        color: #b9b9b9;
                        padding-right: .5rem;
                        animation: animationText linear 5s;
                    }
                }
                .movie-overview.overview-blur{
                    opacity: 0;
                }
                .movie-btns{
                    display: flex;
                    align-items: center;
                    .movie-btn-heart,
                    .movie-btn-share{
                        width: 4rem;
                        height: 4rem;
                        background-color: rgba(207, 207, 207, 0.538);
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 1.2rem;
                        transition: all linear .2s;
                        user-select: none;
                        .movie-btn-icon{
                            font-size: 2rem;
                            color: var(--text-color);
                        }
                        &:hover{
                            background-color: rgba(207, 207, 207, 0.653);
                        }
                        .movie-btn-icon.icon-clicked{
                            color: red;
                        }
                    }
                    .btn-bgc{
                        background-color: #ff77d4;
                    }
                    .movie-btn-heart.btn-bgc:hover{
                        background-color: #ff77d4;
                    }
                }
            }
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }

}

@keyframes appearSmooth{
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    50%{
        transform: translateX(-25%);
        opacity: .2;
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes animationText {
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes imgdisplay{
    0%{
        filter: blur(10px);
    }
    100%{
        filter: blur(0);
    }
}